# Data Preparation

In [1]:
import pandas as pd

# Load the data
df = pd.read_csv('countries_data.csv', encoding='latin1')
df

,ID,Region/Country/Area,Year,Series,Value,Footnotes,Source
0,4,Afghanistan,2010,Population mid-year estimates (millions),28.19,NaN,"United Nations Population Division, New York, ..."
1,4,Afghanistan,2010,Population mid-year estimates for males (milli...,14.24,NaN,"United Nations Population Division, New York, ..."
2,4,Afghanistan,2010,Population mid-year estimates for females (mil...,13.95,NaN,"United Nations Population Division, New York, ..."
3,4,Afghanistan,2010,Sex ratio (males per 100 females),102.1,NaN,"United Nations Population Division, New York, ..."
4,4,Afghanistan,2010,Population aged 0 to 14 years old (percentage),49,NaN,"United Nations Population Division, New York, ..."
...,...,...,...,...,...,...,...
6764,722,SIDS,2022,Population mid-year estimates for females (mil...,36.92,Projected estimate (medium fertility variant).,"United Nations Population Division, New York, ..."
6765,722,SIDS,2022,Sex ratio (males per 100 females),101.4,Projected estimate (medium fertility variant).,"United Nations Population Division, New York, ..."
6766,722,SIDS,2022,Population aged 0 to 14 years old (percentage),25,Projected estimate (medium fertility variant).,"United Nations Population Division, New York, ..."
6767,722,SIDS,2022,Population aged 60+ years old (percentage),13.3,Projected estimate (medium fertility variant).,"United Nations Population Division, New York, ..."
6768,722,SIDS,2022,Population density,62.4,Projected estimate (medium fertility variant).,"United Nations Population Division, New York, ..."

In [2]:
# Dataset columns
df.columns

Index(['ID', 'Region/Country/Area', 'Year', 'Series', 'Value', 'Footnotes',
       'Source'],
      dtype='object')

## We need to pivot the dataset so that series are columns, facilitating easier data visualization.

In [3]:
# Convert the value column to numeric type
df['Value'] = pd.to_numeric(df['Value'], errors='coerce')

# Pivot the dataframe and keep only relevant columns
pivot_df = df.pivot_table(index=['Region/Country/Area', 'Year'], columns='Series',values= 'Value').reset_index()
pivot_df.columns.name = None
pivot_df.reset_index(drop=True, inplace=True)

pivot_df

,Region/Country/Area,Year,Population aged 0 to 14 years old (percentage),Population aged 60+ years old (percentage),Population density,Population mid-year estimates (millions),Population mid-year estimates for females (millions),Population mid-year estimates for males (millions),Sex ratio (males per 100 females),Surface area (thousand km2)
0,Afghanistan,2010,49.0,3.8,43.4,28.19,13.95,14.24,102.1,NaN
1,Afghanistan,2015,45.8,3.8,52.0,33.75,16.68,17.07,102.3,NaN
2,Afghanistan,2021,43.4,3.8,61.8,40.10,19.84,20.25,102.1,653.0
3,Afghanistan,2022,43.1,3.8,63.3,41.13,20.36,20.77,102.0,NaN
4,Albania,2010,21.0,16.2,106.3,2.91,1.45,1.46,100.3,NaN
...,...,...,...,...,...,...,...,...,...,...
930,Zambia,2022,42.9,3.0,26.9,20.02,10.14,9.88,97.4,NaN
931,Zimbabwe,2010,43.2,4.6,33.2,12.84,6.81,6.03,88.7,NaN
932,Zimbabwe,2015,42.9,4.9,36.6,14.15,7.50,6.65,88.7,NaN
933,Zimbabwe,2021,40.9,4.9,41.3,15.99,8.45,7.54,89.3,391.0
934,Zimbabwe,2022,40.6,4.8,42.2,16.32,8.61,7.71,89.4,NaN

In [4]:
# The new df columns
pivot_df.columns

Index(['Region/Country/Area', 'Year',
       'Population aged 0 to 14 years old (percentage)',
       'Population aged 60+ years old (percentage)', 'Population density',
       'Population mid-year estimates (millions)',
       'Population mid-year estimates for females (millions)',
       'Population mid-year estimates for males (millions)',
       'Sex ratio (males per 100 females)', 'Surface area (thousand km2)'],
      dtype='object')

In [5]:
pivot_df

,Region/Country/Area,Year,Population aged 0 to 14 years old (percentage),Population aged 60+ years old (percentage),Population density,Population mid-year estimates (millions),Population mid-year estimates for females (millions),Population mid-year estimates for males (millions),Sex ratio (males per 100 females),Surface area (thousand km2)
0,Afghanistan,2010,49.0,3.8,43.4,28.19,13.95,14.24,102.1,NaN
1,Afghanistan,2015,45.8,3.8,52.0,33.75,16.68,17.07,102.3,NaN
2,Afghanistan,2021,43.4,3.8,61.8,40.10,19.84,20.25,102.1,653.0
3,Afghanistan,2022,43.1,3.8,63.3,41.13,20.36,20.77,102.0,NaN
4,Albania,2010,21.0,16.2,106.3,2.91,1.45,1.46,100.3,NaN
...,...,...,...,...,...,...,...,...,...,...
930,Zambia,2022,42.9,3.0,26.9,20.02,10.14,9.88,97.4,NaN
931,Zimbabwe,2010,43.2,4.6,33.2,12.84,6.81,6.03,88.7,NaN
932,Zimbabwe,2015,42.9,4.9,36.6,14.15,7.50,6.65,88.7,NaN
933,Zimbabwe,2021,40.9,4.9,41.3,15.99,8.45,7.54,89.3,391.0
934,Zimbabwe,2022,40.6,4.8,42.2,16.32,8.61,7.71,89.4,NaN

## To map countries onto an interactive map, we need to adjust the names of certain countries so they can be recognized by Plotly maps.

In [6]:
# Normalize the strings to handle encoding issues:
import unicodedata

def normalize_string(s):
    return unicodedata.normalize('NFKD', s).encode('ascii', 'ignore').decode('ascii')

pivot_df['Region/Country/Area'] = pivot_df['Region/Country/Area'].apply(normalize_string)

In [7]:
# Dictionary for renaming countries
rename_dict = {
    "Turkiye": "Turkey",
    "Venezuela (Boliv. Rep. of)": "Venezuela",
    "Viet Nam": "Vietnam",
    "United Rep. of Tanzania": "Tanzania",
    "Syrian Arab Republic": "Syria",
    "State of Palestine": "Palestine",
    "Saint Martin (French part)": "Saint Martin",
    "Sint Maarten (Dutch part)": "Sint Maarten",
    "Republic of Korea": "South Korea",
    "Republic of Moldova": "Moldova",
    "Netherlands (Kingdom of the)": "Netherlands",
    "Micronesia (Fed. States of)": "Micronesia",
    "Lao People's Dem. Rep.": "Laos",
    "Iran (Islamic Republic of)": "Iran",
    "Falkland Islands (Malvinas)": "Falkland Islands",
    "Dem. People's Rep. Korea": "North Korea",
    "Curacao": "CuraÃ§ao",
    "Bolivia (Plurin. State of)": "Bolivia"
}

# Apply the renaming
pivot_df['Region/Country/Area'] = pivot_df['Region/Country/Area'].replace(rename_dict)

# List of regions to delete
delete_list = ["Other non-specified areas", "Holy See", 'SIDS']

# Apply the deletion
pivot_df = pivot_df[~pivot_df['Region/Country/Area'].isin(delete_list)]

pivot_df

,Region/Country/Area,Year,Population aged 0 to 14 years old (percentage),Population aged 60+ years old (percentage),Population density,Population mid-year estimates (millions),Population mid-year estimates for females (millions),Population mid-year estimates for males (millions),Sex ratio (males per 100 females),Surface area (thousand km2)
0,Afghanistan,2010,49.0,3.8,43.4,28.19,13.95,14.24,102.1,NaN
1,Afghanistan,2015,45.8,3.8,52.0,33.75,16.68,17.07,102.3,NaN
2,Afghanistan,2021,43.4,3.8,61.8,40.10,19.84,20.25,102.1,653.0
3,Afghanistan,2022,43.1,3.8,63.3,41.13,20.36,20.77,102.0,NaN
4,Albania,2010,21.0,16.2,106.3,2.91,1.45,1.46,100.3,NaN
...,...,...,...,...,...,...,...,...,...,...
930,Zambia,2022,42.9,3.0,26.9,20.02,10.14,9.88,97.4,NaN
931,Zimbabwe,2010,43.2,4.6,33.2,12.84,6.81,6.03,88.7,NaN
932,Zimbabwe,2015,42.9,4.9,36.6,14.15,7.50,6.65,88.7,NaN
933,Zimbabwe,2021,40.9,4.9,41.3,15.99,8.45,7.54,89.3,391.0
934,Zimbabwe,2022,40.6,4.8,42.2,16.32,8.61,7.71,89.4,NaN

In [8]:
print(pivot_df.isnull().sum())

Region/Country/Area                                       0
Year                                                      0
Population aged 0 to 14 years old (percentage)            0
Population aged 60+ years old (percentage)                0
Population density                                       43
Population mid-year estimates (millions)                  9
Population mid-year estimates for females (millions)      0
Population mid-year estimates for males (millions)        0
Sex ratio (males per 100 females)                         0
Surface area (thousand km2)                             731
dtype: int64

## Since there were numerous missing values in the 'Surface area (thousand km2)' column, another dataset containing area measurements in square kilometers (km2) was merged with the original dataset to supplement this information.

In [9]:
# Load the land area dataset
land_area_df = pd.read_csv('land-area-km.csv', encoding='utf-8')

# Drop the existing 'Surface area (thousand km2)' column
if 'Surface area (thousand km2)' in pivot_df.columns:
    pivot_df.drop(columns=['Surface area (thousand km2)'], inplace=True)

# SMerge datasets based on country names
merged_df = pd.merge(pivot_df, land_area_df[['Entity', 'Land area (sq. km)']], left_on='Region/Country/Area', right_on='Entity', how='left')

# Rename the column and add a comment
merged_df.rename(columns={'Land area (sq. km)': 'surface_area_km2'}, inplace=True)

# Save the merged dataset to a new CSV file
merged_df.drop(columns=['Entity'], inplace=True) # Drop the redundant 'Entity' column

# Remove duplicate rows based on all columns
merged_df = merged_df.drop_duplicates()

# first five rows of merged dataset for verification
merged_df.head()

C:\Users\Tourad BABA\AppData\Local\Temp\ipykernel_20552\2658607233.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pivot_df.drop(columns=['Surface area (thousand km2)'], inplace=True)

,Region/Country/Area,Year,Population aged 0 to 14 years old (percentage),Population aged 60+ years old (percentage),Population density,Population mid-year estimates (millions),Population mid-year estimates for females (millions),Population mid-year estimates for males (millions),Sex ratio (males per 100 females),surface_area_km2
0,Afghanistan,2010,49.0,3.8,43.4,28.19,13.95,14.24,102.1,652230.0
61,Afghanistan,2015,45.8,3.8,52.0,33.75,16.68,17.07,102.3,652230.0
122,Afghanistan,2021,43.4,3.8,61.8,40.10,19.84,20.25,102.1,652230.0
183,Afghanistan,2022,43.1,3.8,63.3,41.13,20.36,20.77,102.0,652230.0
244,Albania,2010,21.0,16.2,106.3,2.91,1.45,1.46,100.3,27400.0

## Add Latitude and Longitude to the dataset

In [10]:
# Load the latitude and longitude dataset
lat_lon_df = pd.read_csv('long_lat_data.csv')

# Merge datasets based on 'Region/Country/Area' in merged_df and 'Country' in lat_lon_df
merged_df = pd.merge(merged_df, lat_lon_df[['Country', 'Latitude', 'Longitude']], left_on='Region/Country/Area', right_on='Country', how='left')

# Drop redundant 'Country' column and save the updated dataset
merged_df.drop(columns=['Country'], inplace=True)  # Drop the redundant 'Country' column after merging

# First five rows of updated dataset for verification
merged_df.head(10)

,Region/Country/Area,Year,Population aged 0 to 14 years old (percentage),Population aged 60+ years old (percentage),Population density,Population mid-year estimates (millions),Population mid-year estimates for females (millions),Population mid-year estimates for males (millions),Sex ratio (males per 100 females),surface_area_km2,Latitude,Longitude
0,Afghanistan,2010,49.0,3.8,43.4,28.19,13.95,14.24,102.1,652230.0,33.0,65.0
1,Afghanistan,2015,45.8,3.8,52.0,33.75,16.68,17.07,102.3,652230.0,33.0,65.0
2,Afghanistan,2021,43.4,3.8,61.8,40.10,19.84,20.25,102.1,652230.0,33.0,65.0
3,Afghanistan,2022,43.1,3.8,63.3,41.13,20.36,20.77,102.0,652230.0,33.0,65.0
4,Albania,2010,21.0,16.2,106.3,2.91,1.45,1.46,100.3,27400.0,41.0,20.0
5,Albania,2015,18.2,19.0,105.2,2.88,1.44,1.45,100.6,27400.0,41.0,20.0
6,Albania,2021,16.3,22.9,104.2,2.85,1.43,1.43,99.8,27400.0,41.0,20.0
7,Albania,2022,16.1,23.5,103.7,2.84,1.42,1.42,99.5,27400.0,41.0,20.0
8,Algeria,2010,27.6,7.1,15.1,35.86,17.57,18.28,104.0,2381740.0,28.0,3.0
9,Algeria,2010,27.6,7.1,15.1,35.86,17.57,18.28,104.0,2381741.0,28.0,3.0

## We have missing values for china and india that need to be handled

In [11]:
# Define the new population data for China and India
additional_data = {
    'Region/Country/Area': ['China', 'China', 'China', 'China', 'India', 'India', 'India', 'India'],
    'Year': [2010, 2015, 2021, 2022, 2010, 2015, 2021, 2022],
    'Population mid-year estimates (millions)': [1338, 1380, 1412, 1412, 1241, 1323, 1408, 1417]
}

# Create a DataFrame from the additional data
additional_df = pd.DataFrame(additional_data)

# Merge the additional data with the existing DataFrame
df = pd.merge(merged_df, additional_df, on=['Region/Country/Area', 'Year'], how='left', suffixes=('', '_new'))

# Update the population column with the new data where available
df['Population mid-year estimates (millions)'] = df['Population mid-year estimates (millions)_new'].combine_first(df['Population mid-year estimates (millions)'])

# Drop the temporary column
df.drop(columns=['Population mid-year estimates (millions)_new'], inplace=True)

# Save the updated DataFrame to a new CSV file
df.to_csv('cleaned_df.csv', index=False)

print("Population data for China and India added and saved to 'cleaned_df.csv'.")

Population data for China and India added and saved to 'cleaned_df.csv'.

# Clean and Prepare another dataset that contain population data for regions

In [12]:
df = pd.read_excel('regions_data.xlsx')
df

,ID,Region/Country/Area,Year,Series,Value,Footnotes,Source
0,2,Africa,2010,Population mid-year estimates (millions),1055.23,NaN,"United Nations Population Division, New York, ..."
1,2,Africa,2010,Population mid-year estimates for males (milli...,525.87,NaN,"United Nations Population Division, New York, ..."
2,2,Africa,2010,Population mid-year estimates for females (mil...,529.37,NaN,"United Nations Population Division, New York, ..."
3,2,Africa,2010,Sex ratio (males per 100 females),99.30,NaN,"United Nations Population Division, New York, ..."
4,2,Africa,2010,Population aged 0 to 14 years old (percentage),41.50,NaN,"United Nations Population Division, New York, ..."
...,...,...,...,...,...,...,...
169,9,Oceania,2022,Population mid-year estimates for females (mil...,22.46,Projected estimate (medium fertility variant).,"United Nations Population Division, New York, ..."
170,9,Oceania,2022,Sex ratio (males per 100 females),100.60,Projected estimate (medium fertility variant).,"United Nations Population Division, New York, ..."
171,9,Oceania,2022,Population aged 0 to 14 years old (percentage),22.90,Projected estimate (medium fertility variant).,"United Nations Population Division, New York, ..."
172,9,Oceania,2022,Population aged 60+ years old (percentage),17.70,Projected estimate (medium fertility variant).,"United Nations Population Division, New York, ..."
173,9,Oceania,2022,Population density,5.30,Projected estimate (medium fertility variant).,"United Nations Population Division, New York, ..."

In [13]:
# Pivot the dataframe and keep only relevant columns
pivot_df = df.pivot_table(index=['Region/Country/Area', 'Year'], columns='Series',values= 'Value').reset_index()
pivot_df.columns.name = None
pivot_df.reset_index(drop=True, inplace=True)

pivot_df

,Region/Country/Area,Year,Population aged 0 to 14 years old (percentage),Population aged 60+ years old (percentage),Population density,Population mid-year estimates (millions),Population mid-year estimates for females (millions),Population mid-year estimates for males (millions),Sex ratio (males per 100 females),Surface area (thousand km2)
0,Africa,2010,41.5,5.0,35.7,1055.23,529.37,525.87,99.3,NaN
1,Africa,2015,41.3,5.2,40.6,1201.11,601.81,599.30,99.6,NaN
2,Africa,2021,40.3,5.4,47.2,1393.68,697.79,695.88,99.7,29648.0
3,Africa,2022,40.1,5.5,48.3,1426.74,714.31,712.43,99.7,NaN
4,Asia,2010,26.0,10.2,134.6,4221.17,2067.28,2153.89,104.2,NaN
5,Asia,2015,25.0,11.7,142.2,4459.44,2185.01,2274.43,104.1,NaN
6,Asia,2021,23.5,13.5,149.7,4694.58,2304.99,2389.59,103.7,31033.0
7,Asia,2022,23.2,13.7,150.6,4722.63,2319.78,2402.86,103.6,NaN
8,Europe,2010,15.5,22.0,33.3,736.28,382.20,354.08,92.6,NaN
9,Europe,2015,15.8,23.8,33.6,742.11,384.51,357.60,93.0,NaN
10,Europe,2021,15.8,26.0,33.7,745.17,385.49,359.68,93.3,22135.0
11,Europe,2022,15.7,26.3,33.7,743.56,384.65,358.91,93.3,NaN
12,Northern America,2010,19.5,18.4,18.5,345.27,175.10,170.17,97.2,NaN
13,Northern America,2015,19.0,20.5,19.3,360.46,182.18,178.29,97.9,NaN
14,Northern America,2021,18.0,23.2,20.1,375.28,189.31,185.97,98.2,18652.0
15,Northern America,2022,17.7,23.7,20.2,376.87,190.20,186.67,98.1,NaN
16,Oceania,2010,24.3,14.9,4.4,37.10,18.46,18.64,100.9,NaN
17,Oceania,2015,23.9,15.9,4.8,40.40,20.14,20.26,100.6,NaN
18,Oceania,2021,23.1,17.4,5.2,44.49,22.18,22.31,100.6,8486.0
19,Oceania,2022,22.9,17.7,5.3,45.04,22.46,22.58,100.6,NaN
20,South America,2010,26.4,10.5,22.4,393.08,198.56,194.52,98.0,NaN
21,South America,2015,24.4,11.9,23.5,413.13,208.96,204.17,97.7,NaN
22,South America,2021,22.5,13.8,24.7,434.25,219.99,214.27,97.4,17461.0
23,South America,2022,22.2,14.1,24.8,436.82,221.37,215.45,97.3,NaN

In [14]:
# Normalize the strings to handle encoding issues:
pivot_df['Region/Country/Area'] = pivot_df['Region/Country/Area'].apply(normalize_string)

In [15]:
# Save the dataset
pivot_df.to_excel('cleaned_df2.xlsx', index=False)

# Clean and Prepare another dataset that contain GDP data

In [16]:
df = pd.read_csv('gdp1.csv', encoding='latin1')
df

,ID,Region/Country/Area,Year,Series,Value,Footnotes,Source
0,4,Afghanistan,1995,GDP in current prices (millions of US dollars),2757.0,NaN,"United Nations Statistics Division, New York, ..."
1,4,Afghanistan,2005,GDP in current prices (millions of US dollars),6221.0,NaN,"United Nations Statistics Division, New York, ..."
2,4,Afghanistan,2010,GDP in current prices (millions of US dollars),14699.0,NaN,"United Nations Statistics Division, New York, ..."
3,4,Afghanistan,2015,GDP in current prices (millions of US dollars),18713.0,NaN,"United Nations Statistics Division, New York, ..."
4,4,Afghanistan,2019,GDP in current prices (millions of US dollars),18904.0,NaN,"United Nations Statistics Division, New York, ..."
...,...,...,...,...,...,...,...
4446,716,Zimbabwe,2010,GDP real rates of growth (percent),19.7,NaN,"United Nations Statistics Division, New York, ..."
4447,716,Zimbabwe,2015,GDP real rates of growth (percent),1.8,NaN,"United Nations Statistics Division, New York, ..."
4448,716,Zimbabwe,2019,GDP real rates of growth (percent),-6.1,NaN,"United Nations Statistics Division, New York, ..."
4449,716,Zimbabwe,2020,GDP real rates of growth (percent),-5.3,NaN,"United Nations Statistics Division, New York, ..."
4450,716,Zimbabwe,2021,GDP real rates of growth (percent),6.3,NaN,"United Nations Statistics Division, New York, ..."

In [17]:
# Dataset columns
df.columns

Index(['ID', 'Region/Country/Area', 'Year', 'Series', 'Value', 'Footnotes',
       'Source'],
      dtype='object')

In [18]:
# Data types
df.dtypes

ID                       int64
Region/Country/Area     object
Year                     int64
Series                  object
Value                  float64
Footnotes               object
Source                  object
dtype: object

## Pivot the dataset so that series are columns, facilitating easier data visualization.

In [19]:
# Read the CSV files into a DataFrame
gdp = pd.read_csv('gdp_value.csv') # A dataset that contain GDP in current prices (millions of US dollars)
growth = pd.read_csv('growth_value.csv') # A dataset that contain GDP real rates of growth (percent)
per_capita = pd.read_csv('per_capita.csv') # A dataset that contain GDP per capita (US dollars)	
# Pivot the dataframe
pivot_df = df.pivot_table(index=['Region/Country/Area', 'Year'], columns='Series', values='Value').reset_index()
pivot_df.columns.name = None
pivot_df.reset_index(drop=True, inplace=True)
pivot_df['GDP in current prices (millions of US dollars)'] = gdp['Value']
pivot_df['GDP per capita (US dollars)'] = per_capita['Value']
pivot_df['GDP real rates of growth (percent)'] = growth['Value']
pivot_df['GDP in current prices (millions of US dollars)'] = pivot_df['GDP in current prices (millions of US dollars)'].str.replace(',', '').astype(float)
pivot_df['GDP per capita (US dollars)'] = pivot_df['GDP per capita (US dollars)'].str.replace(',', '').astype(float)

columns = ['GDP in current prices (millions of US dollars)', 'GDP per capita (US dollars)']
for col in columns:
    pivot_df[col] = pd.to_numeric(pivot_df[col], errors='coerce')

pivot_df

,Region/Country/Area,Year,GDP in current prices (millions of US dollars),GDP per capita (US dollars),GDP real rates of growth (percent)
0,Afghanistan,1995,2757.0,168.0,30.5
1,Afghanistan,2005,6221.0,255.0,7.5
2,Afghanistan,2010,14699.0,521.0,5.2
3,Afghanistan,2015,18713.0,554.0,-1.4
4,Afghanistan,2019,18904.0,501.0,3.9
...,...,...,...,...,...
1480,Zimbabwe,2010,12042.0,1410.0,-5.3
1481,Zimbabwe,2015,19963.0,1472.0,6.3
1482,Zimbabwe,2019,22595.0,1383.0,NaN
1483,Zimbabwe,2020,21665.0,1508.0,NaN
1484,Zimbabwe,2021,24118.0,NaN,NaN

In [20]:
# Normalize the strings to handle encoding issues:
pivot_df['Region/Country/Area'] = pivot_df['Region/Country/Area'].apply(normalize_string)

## To map countries onto an interactive map, we need to adjust the names of certain countries so they can be recognized by Plotly maps.Â¶

In [21]:
# Dictionary for renaming countries
rename_dict = {
    "Turkiye": "Turkey",
    "Venezuela (Boliv. Rep. of)": "Venezuela",
    "Viet Nam": "Vietnam",
    "United Rep. of Tanzania": "Tanzania",
    "Syrian Arab Republic": "Syria",
    "State of Palestine": "Palestine",
    "Saint Martin (French part)": "Saint Martin",
    "Sint Maarten (Dutch part)": "Sint Maarten",
    "Republic of Korea": "South Korea",
    "Republic of Moldova": "Moldova",
    "Netherlands (Kingdom of the)": "Netherlands",
    "Micronesia (Fed. States of)": "Micronesia",
    "Lao People's Dem. Rep.": "Laos",
    "Iran (Islamic Republic of)": "Iran",
    "Falkland Islands (Malvinas)": "Falkland Islands",
    "Dem. People's Rep. Korea": "North Korea",
    "Curacao": "CuraÃ§ao",
    "Bolivia (Plurin. State of)": "Bolivia"
}

# Apply the renaming
pivot_df['Region/Country/Area'] = pivot_df['Region/Country/Area'].replace(rename_dict)

# List of regions to delete
delete_list = ["Other non-specified areas", "Holy See", 'SIDS']

# Apply the deletion
pivot_df = pivot_df[~pivot_df['Region/Country/Area'].isin(delete_list)]

pivot_df

,Region/Country/Area,Year,GDP in current prices (millions of US dollars),GDP per capita (US dollars),GDP real rates of growth (percent)
0,Afghanistan,1995,2757.0,168.0,30.5
1,Afghanistan,2005,6221.0,255.0,7.5
2,Afghanistan,2010,14699.0,521.0,5.2
3,Afghanistan,2015,18713.0,554.0,-1.4
4,Afghanistan,2019,18904.0,501.0,3.9
...,...,...,...,...,...
1480,Zimbabwe,2010,12042.0,1410.0,-5.3
1481,Zimbabwe,2015,19963.0,1472.0,6.3
1482,Zimbabwe,2019,22595.0,1383.0,NaN
1483,Zimbabwe,2020,21665.0,1508.0,NaN
1484,Zimbabwe,2021,24118.0,NaN,NaN

In [22]:
# Load the latitude and longitude dataset
lat_lon_df = pd.read_csv('long_lat_data.csv')

# Merge datasets based on 'Region/Country/Area' in merged_df and 'Country' in lat_lon_df
merged_df = pd.merge(pivot_df, lat_lon_df[['Country', 'Latitude', 'Longitude']], left_on='Region/Country/Area', right_on='Country', how='left')

# Drop redundant 'Country' column and save the updated dataset
merged_df.drop(columns=['Country'], inplace=True)  # Drop the redundant 'Country' column after merging

# First five rows of updated dataset for verification
merged_df.head(10)

,Region/Country/Area,Year,GDP in current prices (millions of US dollars),GDP per capita (US dollars),GDP real rates of growth (percent),Latitude,Longitude
0,Afghanistan,1995,2757.0,168.0,30.5,33.0,65.0
1,Afghanistan,2005,6221.0,255.0,7.5,33.0,65.0
2,Afghanistan,2010,14699.0,521.0,5.2,33.0,65.0
3,Afghanistan,2015,18713.0,554.0,-1.4,33.0,65.0
4,Afghanistan,2019,18904.0,501.0,3.9,33.0,65.0
5,Afghanistan,2020,20143.0,517.0,-2.4,33.0,65.0
6,Afghanistan,2021,14939.0,373.0,-20.7,33.0,65.0
7,Albania,1995,2393.0,729.0,13.3,41.0,20.0
8,Albania,2005,8052.0,2655.0,5.5,41.0,20.0
9,Albania,2010,11927.0,4094.0,3.7,41.0,20.0

In [23]:
# Save the GDP dataset
merged_df.to_excel('cleaned_gdp.xlsx', index=False)

In [24]:
merged_df.dtypes

Region/Country/Area                                object
Year                                                int64
GDP in current prices (millions of US dollars)    float64
GDP per capita (US dollars)                       float64
GDP real rates of growth (percent)                float64
Latitude                                          float64
Longitude                                         float64
dtype: object

# Clean and Prepare another dataset that contain GDP data for regions

In [25]:
df = pd.read_csv('gdp_regions.csv', encoding='latin1')
df

,ID,Region/Country/Area,Year,Series,Value,Footnotes,Source
0,2,Africa,1995,GDP in current prices (millions of US dollars),604467.0,NaN,"United Nations Statistics Division, New York, ..."
1,2,Africa,2005,GDP in current prices (millions of US dollars),1170541.0,NaN,"United Nations Statistics Division, New York, ..."
2,2,Africa,2010,GDP in current prices (millions of US dollars),2032590.0,NaN,"United Nations Statistics Division, New York, ..."
3,2,Africa,2015,GDP in current prices (millions of US dollars),2407357.0,NaN,"United Nations Statistics Division, New York, ..."
4,2,Africa,2019,GDP in current prices (millions of US dollars),2571104.0,NaN,"United Nations Statistics Division, New York, ..."
...,...,...,...,...,...,...,...
163,9,Oceania,2010,GDP real rates of growth (percent),2.3,NaN,"United Nations Statistics Division, New York, ..."
164,9,Oceania,2015,GDP real rates of growth (percent),3.0,NaN,"United Nations Statistics Division, New York, ..."
165,9,Oceania,2019,GDP real rates of growth (percent),0.4,NaN,"United Nations Statistics Division, New York, ..."
166,9,Oceania,2020,GDP real rates of growth (percent),1.7,NaN,"United Nations Statistics Division, New York, ..."
167,9,Oceania,2021,GDP real rates of growth (percent),3.5,NaN,"United Nations Statistics Division, New York, ..."

In [26]:
# Read the CSV files into a DataFrame
gdp = pd.read_csv('gdp_value2.csv') # A dataset that contain GDP in current prices (millions of US dollars) for regions
growth = pd.read_csv('growth_value2.csv') # A dataset that contain GDP real rates of growth (percent) for regions
per_capita = pd.read_csv('per_capita2.csv') # A dataset that contain GDP per capita (US dollars) for regions
df['Value'] = pd.to_numeric(df['Value'], errors='coerce')
# Pivot the dataframe
pivot_df = df.pivot_table(index=['Region/Country/Area', 'Year'], columns='Series', values='Value').reset_index()
pivot_df.columns.name = None
pivot_df.reset_index(drop=True, inplace=True)
pivot_df.drop(columns=('GDP in constant 2015 prices (millions of US dollars)'),inplace=True)
pivot_df['GDP in current prices (millions of US dollars)'] = gdp['Value']
pivot_df['GDP per capita (US dollars)'] = per_capita['Value']
pivot_df['GDP real rates of growth (percent)'] = growth['Value']
pivot_df

,Region/Country/Area,Year,GDP in current prices (millions of US dollars),GDP per capita (US dollars),GDP real rates of growth (percent)
0,Africa,1995,604467,836,2.8
1,Africa,2005,1170541,1263,6.2
2,Africa,2010,2032590,1929,5.9
3,Africa,2015,2407357,2007,3.4
4,Africa,2019,2571104,1939,2.4
5,Africa,2020,2443988,1799,-2.6
6,Africa,2021,2726643,1959,5.2
7,Asia,1995,8249570,27958,2.7
8,Asia,2005,14219073,43196,3.5
9,Asia,2010,16675374,48297,2.7
10,Asia,2015,19771305,54850,2.5
11,Asia,2019,23132891,62192,2.3
12,Asia,2020,22715855,60746,-2.9
13,Asia,2021,25313920,67455,5.8
14,Europe,1995,1439103,4444,3.2
15,Europe,2005,1666331,4476,5.4
16,Europe,2010,3846425,9791,6.6
17,Europe,2015,3753649,9092,-1.3
18,Europe,2019,3566987,8333,-0.7
19,Europe,2020,2899879,6725,-6.9
20,Europe,2021,3320415,7652,7.0
21,Northern America,1995,9320865,2676,5.5
22,Northern America,2005,12484521,3137,6.3
23,Northern America,2010,21128489,5006,7.8
24,Northern America,2015,26933005,6040,4.9
25,Northern America,2019,33136914,7160,3.7
26,Northern America,2020,32800513,7033,-1.0
27,Northern America,2021,37498914,7989,6.2
28,Oceania,1995,10646587,14608,2.1
29,Oceania,2005,16133739,22081,2.4
30,Oceania,2010,19903672,26967,2.4
31,Oceania,2015,19191354,25795,1.9
32,Oceania,2019,21741278,29060,1.8
33,Oceania,2020,21034827,28114,-6.0
34,Oceania,2021,23816167,31875,5.6
35,South America,1995,474316,16564,3.8
36,South America,2005,902413,26934,2.8
37,South America,2010,1484238,40319,2.3
38,South America,2015,1468468,36605,3.0
39,South America,2019,1640834,38162,0.4
40,South America,2020,1692743,38777,1.7
41,South America,2021,2037591,46088,3.5

In [27]:
# Normalize the strings to handle encoding issues:
pivot_df['Region/Country/Area'] = pivot_df['Region/Country/Area'].apply(normalize_string)

In [28]:
# Save the GDP data for region
pivot_df.to_excel('cleaned_gdp2.xlsx', index=False)